@charset 'utf-8';
.wrapper-form
{
    padding: 0 0 10px;

    background-color: #fff;

}
.form
{
    overflow: hidden;

    padding-bottom: 10px;

    border: 1px solid #ccc;
    border-top: none;
}
.form ul li
{
    margin: 0 0 30px;
    text-align: center;
}
.form-h3
{
    font-size: 14px;
    line-height: 36px;

    height: 36px;
    padding: 0 20px;

    border-top: 1px solid #ccc;
    background-color: #f4f4f4;
}
.form ul li label
{
    font-size: 14px;
    font-style: normal;

    margin-right: 20px;

    vertical-align: middle;

    color: #444;
}
.form textarea
{
    /*float: right;*/
    width: 755px;
    height: 300px;
    margin: 30px 0 0;
    padding: 2px 6px;

    resize: none;
    vertical-align: middle;
}
.declare-form .formbt
{
    /*涉及优先级问题*/
    width: 60px;
    height: 26px;
    margin-left: 5px;

    cursor: pointer;

    border: 1px solid #35a8d4;
}
.declare-form .form-checkbox
{
    float: none;
    width: 15px;
}
.declare-form .agree{
    color: #24B9BF;
}
.declare-form .agree:hover{
    text-decoration: underline;
}
.formbt-save
{
    width: 100px !important;
    color: #fff;
    background-color: #5cb85c;
}
.form table
{
    width: 100%;
}
.form thead td
{
    border-bottom: 1px solid #ccc;
}

.form td
{
    /*border-bottom: 1px solid #cccccc;*/
    height: 50px;
    padding: 0;

    text-align: center;
    vertical-align: middle;
}
.addFormRow
{
    line-height: 27px;

    display: inline-block;
    float: right;

    width: 60px;
    height: 25px;
    margin: 4px 2px 0;

    text-align: center;

    color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #31b0d5;
}
.changeFormRow,
.deleteFormRow
{
    font-size: 12px;
    line-height: 22px;

    display: inline-block;

    width: 40px;
    height: 20px;
    margin: 3px;

    color: #fff;
    border-radius: 2px;
}
.changeFormRow
{
    background-color: #5cb85c;
}
.deleteFormRow
{
    background-color: #d9534f;
}
.declare-form input
{
    line-height: 18px;

    float: right;

    width: 150px;
    height: 20px;
    padding: 2px 6px;

    vertical-align: middle;
}
.declare-form td input
{
    width: 94%;
    height: 60%;
    padding: 2px 2px;
}

.right-content ul li.rel{
    position: relative;
    height: 30px;
}
.right-content ul li.rel label{
    position: absolute;
    left: 0;
    top: 0;
    height: 30px;
    line-height: 30px;
}
.right-content ul li.rel input{
    position: absolute;
    float: none;
    left: 120px;
    top: 0;
}
.right-content ul li.rel .form-result{
    position: absolute;
    left: 300px;
    top: 0;
    font-size: 14px;
}
.right-content ul li.rel div {
    position: absolute;
    left: 120px;
    top: 0;
}
.right-content ul li.rel div select{
    width: 83px;
    height: 25px;
    font-size: 16px;
}
.high {
    color: #ff0000;
}

.vali-result {
    font-size: 13px;
    line-height: 30px;
}

.success {
    color: green;
}

.error {
    color: #ff0000 !important;
}
.blue {
    color: #0000ff;
}
