@charset "utf-8";
body {
    background-image: url(../../images/big-background.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: scroll;
}
/***********header**********/
#header {
    width: 985px;
    margin: 0 auto;
    height: 154px;
}
    .user {
        float: right;
        margin: -110px -160px 0 0;
    }
    .user li{
        float: left;
        margin: 5px;
    }
    .user a{
        color: #fff;
        font-family: "微软雅黑";
        font-size: 15px;
        cursor: pointer;
    }
    .user a:hover{
        color: #000;
        text-decoration: underline;
    }
.head-title {
    width: 983px;
    height: 115px;
}
.head-nav {
    background-color: #31A5D5;
    width: 985px;
    margin: 0 auto;
    height: 39px;
    /*border-top: 1px solid #fff;*/
}
.head-nav a{
    color: #000000;
    float: left;
    display: inline-block;
    width: 122px;
    height:39px;
    background-color: #31A5D5;
    line-height: 39px;
    font-size: 15px;
    font-weight: 800;
    text-align: center;
    border-left: 1px solid #fff;
}
.head-nav a:first-child {
    border-left: none;
}
.head-nav a:last-child {
    width: 124px;
}
.head-nav a:hover{
    color: #31A5D5!important;
    background-color: #fdfdfd !important;
    border-bottom: 1px solid #31A5D5 !important;
    height:38px;
}
.head-nav a.choose{
    /*color: #fdfdfd;*/
    background-color: #2b8ec7;
    /*border-bottom: 2px solid #31A5D5;*/
    /*height:37px;*/
    /*width: 120px;
    /*background: url("../../images/icons.png") no-repeat;*/
    /*background-position: 0px -878px;*/
}
/***********content**********/
#content {
    width: 983px;
    margin: 0 auto;
    margin-top: 10px;
    height: 605px;
    border-bottom: 1px dashed #35A8D4;
    background-color: #FFFFFF;
}

.left-content {
    float: left;
    width: 173px;
    border: 1px solid #35A8D4;
    height: 367px;
}
.s-r-title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding:20px 0;
    color: #FFF;
    letter-spacing: 3px;
    background-color: #35A8D4;
}
.s-t-nav a{
    color: #000;
    background-color: #FFFFFF;
    text-align: center;
    display: block;
    padding: 18px 0;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 3px;
    border-bottom: 1px solid #35A8D4;
}
.s-t-nav a:hover{
    color: #35A8D4;
}
    .dropdown {
        position: relative;
    }
        .dropdown-menu {
            display: none;
            /*filter:alpha(opacity=0);*/
            /*opacity:0;*/
            /*visibility: hidden;*/
            position: absolute;
            left: 173px;
            top: 0%;
            z-index: 100;
            width: 140px;
        }
        .dropdown-menu-parent {
            background: url("../../images/icon.png") no-repeat 0px -120px;
        }
        .dropdown-menu>a {

        }
        .dropdown:hover > ul {
            /*display: block;*/
            /*filter:alpha(opacity=100);*/
            /*opacity:1;*/
            /*visibility: visible;*/
        }
                .dropdown-menu>li>a {
                    margin-top: 1px;
                    font-weight: 500;
                    border: 1px solid #35A8D4;
                    padding: 15px 0;
                    z-index: 200;
                    /*color: #363636;*/
                }
                .s-t-nav li:hover > a {
                    color: #35A8D4;
                }
.right-content {
    float: right;
    maigin-left: 10px;
    width:800px;
}

.notice-work-slide {
    position: relative;
    width: 800px;
}
.notice {
    left: 0;
    width: 440px;
    height: 250px;
    top: 260px;
    position: absolute;
    border: 1px solid #CCCCCC;
    overflow: hidden;
}
.swr-title {
    height: 40px;
    padding: 0 20px;
    font-size: 15px;
    font-weight: 700;
}
.swr-l-title {
    line-height: 40px;
    float: left;
}
.swr-r-title {
    line-height: 40px;
    float: right;

}
.swr-l-title a:hover {
    color: #35A8D4;
    cursor: pointer;
}
.swr-r-title .more {
    color: #666666;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 500;
}
.swr-r-title .more:hover {
    color: #35A8D4;

}
.jxkc{background:url("../../images/icon.png") no-repeat 2px -2px;}
.tzwj{background:url("../../images/icon.png") no-repeat 2px -42px;}
.gzdt{background:url("../../images/icon.png") no-repeat 2px -82px;}

.notice-content, .work-content {
    border-top: 2px solid #35A8D4;
    height: 212px;
    overflow: hidden;
}
.n-w-ul {
    margin: 10px 10px 0;
    overflow: hidden;
}
.notice-list {
    margin-top: 7px;
    height: 20px;
    text-overflow: ellipsis;
}
.notice-list a{
    font-size: 14px;
    font-family: "微软雅黑";
    color: #4a4a4a;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.notice-list a:hover {
    text-decoration: underline;
    color: #35A8D4;
}
.work {
    left: 0;
    height: 250px;
    width: 440px;
    position: absolute;
    border: 1px solid #CCCCCC;
    overflow: hidden;
}
.slide-pictures {
    left: 450px;
    position: absolute;
    width: 350px;
    height: 250px;
    overflow: hidden;
}
.slide-content {
    position: relative;
    width: 350px;
    height: 250px;
    overflow: hidden;
}
.slide-link {
    position: absolute;
    top:0;
    left: 0;
    display: inline-block;
    width: 350px;
    height: 250px;
    z-index: 3;
    /*opacity: 0;*/
    /*filter:alpha(opacity=0);*/
}
.pagination {
    position: absolute;
    left: 40%;
    bottom: 3%;
    z-index: 200;
    width: 78px;
    height: 16px;
}
.pagination a {
    background: url("../../images/pagination-small.png") no-repeat transparent;
    width: 13px;
    height: 14px;
    margin: 0 5px 0 0;
    font-size: 0;
    display: inline-block;
}
.pagination a.selected {
    background-position: 0 -14px;
}
.education {
    left: 450px;
    top: 260px;
    position: absolute;
    width: 350px;
    height: 250px;
    border: 1px solid #CCCCCC;
}
.related-links {
    margin-top: 520px;
    width: 800px;
    height: 30px;
    border: 1px solid #9CCFE0;
}
.related-links-head {
    width: 180px;
    float: left;
    font-weight: 700;
    line-height: 30px;
    color: rgb(0, 102, 153);
    background-color: #9CCFE0;
    padding-left: 20px;
    text-align: center;
}
.related-links-content {
    width: 600px;
    float: left;
    line-height: 30px;

}
.related-links-content a {
    background-color:#9CCFE0;
    color: #000;
    height: 30px;
    width: 99px;
    display: inline-block;
    border-left: 1px solid #FFFFFF;
    float: left;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}
.related-links-content a:hover {
    color: #35A8D4;
}
.search {

    margin-top: 10px;
    margin-left:480px;
    height: 32px;
    float: right;
    /*border: 1px solid #dcdcdc;*/
}
#search-text {
    height: 20px;
    outline: none;
    width: 173px;
    font-color: #888888;
}
#search-bt {
    height: 25px;
    margin-left: 5px;
    outline: none;
    float: right;
}
/*pop*/
 .right-content #pop{position: fixed;top: 0;left: 0;z-index: 99;width: 100%;height: 100%; background: rgba(51, 51, 51, 0.5);}
    .right-content #pop .pop-cnt{position: absolute;top: 50%;left: 50%;width: 400px;height: 150px;margin: -75px 0 0 -200px;padding: 15px 30px; border: 1px solid #30a6d3; background: url("../../images/popbg.png") repeat transparent;border-radius: 10px;overflow: hidden;}
    .right-content #pop .pop-cnt .pop_close{position: absolute;top: 115px;left: 180px; width: 60px; margin: 10px 5px; font-family: Arial, 'Microsoft Yahei', STHeiti, Simsun, STSong;font-size: 16px;line-height: 30px; color: #fff; border: 1px solid #449D44!important;border-radius: 4px; text-align: center;background-color: #449D44;}
    .right-content #pop .pop-cnt .pop_cnt_h4{
        position: relative;
        top:30%;
        left:4%;
        font-size: 25px;
        color: #fff;
        font-family: Arial, 'Microsoft Yahei', STHeiti, Simsun, STSong
    }
/***********footer**********/
#footer {
    width: 983px;
    margin: 10px auto 0;
    background-color: #9CCFE0;
}

.footer-content {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    height:80px;
}
.footer-content p {
    margin-top: 10px;
    font-family: "微软雅黑", Arial, sans-serif;
    text-align: center;
}
.footer-content p.title span{
    font-weight: 700;
    font-size: 15px;
}
.footer-content p span.span-list{
    font-size: 14px;
}
p.list {
    font-size: 13px;
}