@charset "utf-8";
/***********header**********/

/***********content**********/
#content {
    padding-top: 5px;
    background: #fff;
    overflow-x: hidden;
    width: 983px;
    height: auto;
    overflow: hidden;
    margin: 0 auto 8px;
}
    .notice-left-content {
        margin-bottom: 4px;
        width: 720px;
        overflow: hidden;
        height: auto;
        float: left;
    }
        .notice-left-content .tm {
            /*BACKGROUND: url(img/newbg.gif) repeat-x 0px -28px;*/
            overflow: hidden;
            border: #c5d8e6 1px solid;
            line-height: 31px;
            height: 31px;
        }
        .notice-left-content .wrapper {
        }
        .notice-left-content .tit {
            float: left;
            color: #333;
            font-size: 12px;
        }
        .notice-left-content .tm .tit .tt{
            padding: 0 12px 0 23px;
            FONT-SIZE: 14px;
            COLOR: #194d7f;
        }
            span.tt a{
                font-size: 12px;
                color: #000;
            }
            span.tt a:hover{
                color: #e66100;
            }
        #bodyTd {
            height: 861px;
            width: 694px;
        }
        #printBody {
            height: 833px;
        }
        .luru_c {
            color: #999;
            clear: both;
            overflow: hidden;
        }
        .luru_c span {
            font-size: 12px;
            letter-spacing: 1px;
        }
        .luru_c span a:hover{
            color: #e66100;

        }
        .aTitle {
            font-weight: bold;
            font-size: 16px;
            padding-top: 10px;
            position: relative;
        }
        .file_load {
            margin-top: 20px;
        }
        .file_load a:hover {
            color: #e66100;
        }
        .mm {
            background: #fff;
            overflow: hidden;
            border: #c5d8e6 1px solid;
            padding: 10px 12px;
        }
.nearNews {
    clear: both;
    padding: 5px 0;
    overflow: hidden;
    color: #999;
    _zoom: 1;
}
    .prevNews {
        float: left;
        width: 50%;
    }
    .prevNews {
        OVERFLOW: hidden;
        WHITE-SPACE: nowrap;
        TEXT-OVERFLOW: ellipsis;
    }
    .nextNews {
        TEXT-ALIGN: right;
    }
    .nextNews {
        OVERFLOW: hidden;
        WHITE-SPACE: nowrap;
        TEXT-OVERFLOW: ellipsis;
    }
        .nearNews a {
            font-size: 12px;
        }
        .nearNews a:hover {
            color: #e66100;
        }
    .notice-right-content {
        float:right;
        width:250px;
    }
    .lframe {
        margin-bottom: 8px;
        width: 250px;
        float: right;
    }
        .lframe .tm {
            border:  #c5d8e6 1px solid;
            overflow: hidden;
            line-height: 31px;
            width: auto;
            height: 33px;
            /*background: url(img/title_bg.jpg) -600px 0px no-repeat;*/
        }
        .notice-right-content ul li {
            height: 26px;
            clear: both;
            line-height: 26px;
            list-style-type: none;
            padding: 0px 0 0 14px;
            background: url(../../images/ico_dot.gif) left no-repeat;
            overflow: hidden;
        }
            .box1 a{
                font-size: 14px;
                line-height: 14px;
                text-decoration: none;
                color:#000000;
            }
            .box2 a, .box3 a {
                font-size: 12px;
                line-height: 14px;
                text-decoration: none;
                color:#000000;
                white-space:nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .box1 a:hover, .box2 a:hover, .box3 a:hover {
                color: #e66100;
            }
            .lframe span.tt {
                padding-left: 27px;
                font-size: 14px;
                /*background: url(img/lsptt.gif) no-repeat 12px 0px;*/
                color: #194d7f;
            }
            .lframe .mm {
                border: #c5d8e6 1px solid;
                overflow: hidden;
                padding: 5px 20px 5px 10px;
            }

/***********footer**********/
#footer {
    width: 983px;
    margin: 10px auto 0;
    background-color: #E8F1F6;
}

.footer-content {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    height:80px;
}
.footer-content p {
    margin-top: 10px;
    font-family: "微软雅黑", Arial, sans-serif;
    text-align: center;
}
.footer-content p.title span{
    font-weight: 700;
    font-size: 15px;
}
.footer-content p span.span-list{
    font-size: 14px;
}
p.list {
    font-size: 13px;
}

/*************************list*************************/
.top-wrapper {
    height: 70px;
}
.sep {
    padding: 0;
    background: none transparent scroll repeat 0% 0% !important;
    list-style-type: none;
    height: 8px;
    overflow: hidden;
}
.dateR {
    tab-sizefon: 12px;
    color: gray! important;
    text-decoration: none;
    float: right;
}

.pager {
    margin-top: 10px;
    clear: both;
    padding: 10 5px 0;
    FONT-SIZE: 12px;
    word-break: keep-all;
    font-family: "verdana";
    HEIGHT: 25px;
}

.pager li.p_total {
    border:#ddd 1px solid;
    padding: 3px 5px;
    FONT-WEIGHT: bold;
    BACKGROUND: #fff;
    COLOR: #3F6EAF;
}

.pager li.p_current {
    border:#5D94E0 1px solid;
    BACKGROUND: #5D94E0;
    COLOR: #fff;
}

.pager li {
    float: left;
    margin: 0px 5px 0px 0px;
    COLOR: #999;
    border:#5D94E0 1px solid;
    /*height: 20px;*/
    /*padding: 2px 5px;*/
    line-height: 22px;
    text-align: center;
}
.pager li a{
    display: block;
    padding: 2px 5px;
}
.pager li a:hover {
    color: #e66100;
    background-color: rgba(93, 148, 224, 0.17);
}
/*.pager li:hover {*/
    /*color: #e66100;*/
    /*background-color: rgba(93, 148, 224, 0.17);*/
/*}*/
.list-content-box ul li{
    height: 26px;
    clear: both;
    line-height: 26px;
    list-style-type: none;
    padding: 0px 0 0 14px;
    background: url(../../images/ico_dot.gif) left no-repeat;
}
.list-content-box a{
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
    color:#000000;
}
.list-content-box a:hover {
    color: #e66100;
}