@charset 'utf-8';
.wrapper-form
{
    padding: 0 0 10px;

    background-color: #fff;
    
}
.form
{
    overflow: hidden;

    padding-bottom: 10px;

    border: 1px solid #ccc;
    border-top: none;
}
.form ul li
{
	text-align: center;
    margin: 0 0 30px;
}
.form-h3
{
    font-size: 14px;
    line-height: 36px;

    height: 36px;
    padding: 0 20px;

    border-top: 1px solid #ccc;
    background-color: #f4f4f4;
}
.form ul li label
{
    font-size: 14px;
    font-style: normal;

    margin-right: 20px;

    vertical-align: middle;

    color: #444;
}
.form textarea
{
    /*float: right;*/
    width: 100%;
    height: 300px;
    margin: 30px 0 0;
    padding: 2px 6px;

    resize: none;
    vertical-align: middle;
}

/*.formbt:hover {*/
/*background-color: #0066cc ;*/
/*color: #fff ;*/
/*}*/
/*form one two*/
.declare-form-one,
.declare-form-two,
.declare-form-four,
.declare-form-five
{
    padding: 0 140px 10px;
}
.declare-form-one .form-h3,
.declare-form-two .form-h3,
.declare-form-four .form-h3,
.declare-form-five .form-h3
{
    margin: 0 -140px 10px;
}
.declare-form-one .formbt,
.declare-form-two .formbt,
.declare-form-four .formbt,
.declare-form-five .formbt
{
    /*涉及优先级问题*/
    width: 60px;
    height: 26px;
    margin-left: 5px;

    cursor: pointer;

    border: 1px solid #35a8d4;
}
.formbt-front
{
    color: #fff;
    border: none !important;
    background-color: #f0ad4e;
}
.formbt-next
{
    color: #fff;
    background-color: #35a8d4;
}
.formbt-save
{
    color: #fff;
    background-color: #5cb85c;
}

.declare-form-one input,
.declare-form-two input,
.declare-form-four input,
.declare-form-five input
{
    line-height: 18px;

    float: right;

    width: 330px;
    height: 30px;
    padding: 2px 6px;

    vertical-align: middle;
}
/*form three*/
.declare-form-three,
.declare-form-six,
.declare-form-seven
{
    padding: 0 5px 10px;
}
.declare-form-three .form-h3,
.declare-form-six .form-h3,
.declare-form-seven .form-h3
{
    margin: 0 -5px 10px;
}
.form table
{
    width: 100%;
}
.form thead td
{
    border-bottom: 1px solid #ccc;
}

.form td
{
    /*border-bottom: 1px solid #cccccc;*/
    height: 50px;
    padding: 0;
    border: none;
    text-align: center;
    vertical-align: middle;
}
.declare-form-three td input,
.declare-form-six td input,
.declare-form-seven td input
{
    width: 98%;
    height: 30px;
    padding: 2px 2px;
}

.addFormRow
{
    line-height: 27px;

    display: inline-block;
    float: right;

    width: 60px;
    height: 25px;
    margin: 4px 2px 0;

    text-align: center;

    color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #31b0d5;
}
.changeFormRow,
.deleteFormRow
{
    font-size: 12px;
    line-height: 22px;

    display: inline-block;

    width: 40px;
    height: 20px;
    margin: 3px;

    color: #fff;
    border-radius: 2px;
}
.changeFormRow
{
    background-color: #5cb85c;
}
.deleteFormRow
{
    background-color: #d9534f;
}
.declare-form-three .formbt,
.declare-form-six .formbt,
.declare-form-seven .formbt
{
    float: right;
    /*涉及优先级问题*/

    width: 80px;
    height: 26px;
    margin: 30px 5px 0 0;

    cursor: pointer;

    border: 1px solid #35a8d4;
}

/*six*/
.declare-form-six .numtd
{
    width: 64px;
}
.declare-form-six .numtd input
{
    width: 54px;

    text-align: center;
}

.declare-form
{
    padding: 0 10px 10px;
}
.declare-form .form-h3
{
    margin: 0 -10px 10px;
}
.rule-one {
     padding: 0 140px 10px;
}
.rule-one .form-h3
{
    margin: 0 -140px 10px;
}

.declare-form ul .line{width:100%; border-bottom: 1px solid #ccc;}
.declare-form ul li span{margin:0 10px;color: #000;}
.declare-form ul li input.pay{width: 50px;float:none; clear: both;}
   
 #review-form .form-h3
{
     margin: 0 -10px 10px;
}
.review-header
{
    font-size: 16px;
    line-height: 36px;

    height: 36px;
    padding: 0 20px;

    text-align: center;
    letter-spacing: 5px;

    border-top: 1px solid #ccc;
    background-color: #f4f4f4;
}
.expert-name
{
    font-size: 16px;
    line-height: 36px;

    height: 36px;
    margin-bottom: 20px;
    padding: 0 20px;

    letter-spacing: 5px;

    border-bottom: 1px solid #000;
}
#review-form table
{
    width: 90%;
    margin: 40px auto 0;
}

#review-form table td
{
    vertical-align: middle;

    border: 1px solid #000;
}
.review-form .td1
{
    width: 60%;
    padding-left: 20px;
}
.review-form .td2
{
    width: 40%;

    text-align: center;
}
.td1,
.td2
{
    font-size: 14px;

    height: 40px;

    letter-spacing: 2px;
}
.th
{
    font-weight: 700;

    height: 60px;

    text-align: center;
    letter-spacing: 5px;
}
.td-textarea
{
    text-align: center;
}
#review-form .review-textarea
{
    width: 650px;
    height: 500px;
    margin: -10px auto 20px;
    padding: 2px 6px;
    font-size: 16px;
    resize: none;
}
.rank
{
    display: inline-block;

    width: 50px;

    text-align: center;
    text-decoration: underline;
}
.review-savebt
{
    float: right;
    width: 80px;
    height: 26px;
    margin: 0 20px 20px;

    cursor: pointer;

    color: #fff;
    border: none;
    background-color: #5cb85c;
}