@charset "utf-8";
/*base*/
a{text-decoration: none;}
/*common*/
.child-head {
    color:#000;
    letter-spacing: 5px;
    font-family:Microsoft YaHei,'黑体'
}
.w1366 {
    width: 1348px !important;
}
.ml-15 {
    margin-left: -15px;
}
.row{
    margin: 0 !important;
}
/*header*/
#header {
    height: 100px;
    background-color: #fff;
    border-bottom: 1px solid #000000;
}
    #header h3.header-title {
        font-family:Microsoft YaHei,"黑体";
        color:#000;
        line-height: 50px;
        letter-spacing: 5px;
        margin-left: 10px;
        font-size: 2em;
    }
    #header .login-and-asign {
        color: #fff;
        font-family:Microsoft YaHei,"黑体";
        display: inline-block;
        height: 40px;
        font-size: 16px;
        line-height: 40px;
        cursor: pointer;
        margin-right: 15px;
        margin-left: 0px;
        padding: 0 10px;
        background-color: #000;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -o-border-radius: 20px;
        border: 1px solid #000;
    }
    #header .login-member {
        margin-left: 20px !important;
    }
    #header .no-login {
        margin-left: 50px !important;
    }
    #header .login-and-asign:hover {
        text-decoration: none;
        color: #000;
        background: #fff;
        border: 1px solid #000;
    }

/*content*/
.total-wrapper{
    width: 1366px;
}
#content {
    min-width: 1366px;
    margin: 0 auto;
    position: relative;
}
    #content .main-side-nav {
        background-color: #fff;
        padding: 0 0;
        width: 225px;
        /* float: left; */
        text-align: center;
        border-bottom: 1px solid #282828;
    
        position: absolute;
        top: 0;
        left: 0;
}
    #content .main-side-nav.fixed{
        position: fixed;
        top: 0;
        left: 0;
    }
    #content .right-content {
        position: relative;
        float: left;
        padding: 0 0;
        width: 1124px;
    
        margin-left: 240px;
}
    .right-content .declare-kind{
        margin: 10px;
    }
    .right-content .declare-kind .radio-inline {
        font-weight: 600;
    }  
        #content .right-cnt-nav{
            position: absolute;
            top: 10px;
            left: 10px;
            overflow: hidden;
            background-color: #fff;
            z-index: 99;
        } 
        #content .right-cnt-nav a{
            float: left;
            display: block;
            padding: 0 16px;
            line-height: 30px;
            color: #282828;
            border: 1px solid #282828;
        }
        #content .right-cnt-nav a.choose{
            color:#fff;
            background-color: #282828;
        }
        #content .right-cnt-nav a:hover{
            color:#fff;
            background-color: #000;
        }
        #content .right-cnt-nav a.disabled{
            color:#fff;
            background-color: #ccc;
        }
        #content .right-cnt-nav.fixed{
            margin: 0;
            position: fixed;
            top: 0;
            left: 235px;
        }
        .main-side-nav ul li.dropdown_li > a{ 
            position: relative;
        }
        .main-side-nav ul li.dropdown_li span{ 
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            right: 10px;
            top: 25px;
            border: 6px solid #fff;
            border-color: #fff transparent transparent transparent;
        }
            .main-side-nav-child, .sub-side-nav{
                width: 100%;
                font-family: Microsoft YaHei,'黑体';
                color: #FFFFFF;
                display: block;
                height: 50px;
                text-align: center;
                line-height: 50px;
                font-size: 17px;
                letter-spacing: 4px;
                background-color: #282828;
                border-bottom: 1px solid #fff;
                padding: 0 0 !important;
                margin: 0 0 !important;
            }
            .dropdown_li.on {  

            }
            .dropdown_li.on .ul-sub-side{
                display: block;
            }
            .dropdown_li.on .main-side-nav-child span{
                top: 18px;
                border-color: transparent transparent #fff transparent;
            }
            .ul-sub-side{
                display: none; 
            }
                .sub-side-nav{
                    height: 40px;
                    font-size: 15px;
                    line-height: 40px;
                    background-color: #555555;
                }
            .main-side-nav ul li a:hover{
                color: #FFFFFF;
                text-decoration: none;
                background: url("../../images/manage/emo-dot.png") no-repeat 20px center #000 !important;
            }
            .main-side-nav ul li a.choose{
                color: #000;
                background: url("../../images/manage/emo-dot.png") no-repeat 20px center #fff !important;
                text-decoration: none;
            }

    /****/
    .part1 {

    }
        .notice-list {
            margin: 7px 0;
            height: 35px;
            border-bottom: 1px solid #CCCCCC;
            overflow: hidden;
        }
            .notice-list a.content {
                display: inline-block;
                width: 300px;
                color: #555555;
                white-space:nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

        .part1-notice{
            border: 1px solid #CCCCCC;
        }
            .notice-change,.work-change{
                float: right;
                margin-right:20px;
            }
            .notice-delete,.work-delete {
                float: right;

            }
    .part2 {

    }
        #editor {
            height: 800px;
        }
    .part3 {

    }
        #w-editor {
            height: 800px;
        }

/*declare*/
.bc-form {
    width: 100%;
}
.bc-header {
    padding: 0 20px;
    font-size: 16px;
    background-color: #F4F4F4;
    height: 36px;
    line-height: 36px;
    border-top: 1px solid #cccccc;
    text-align: center;
    letter-spacing: 5px;
}

table {
    margin: 20px 0 0;
    width: 100%;
}

table td {
    border: 1px solid #AAAAAA;
    vertical-align: middle !important;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.th {
    height: 60px;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
}
.tc {
    padding: 5px 5px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
}
.t1 {
    width: 10%;
}
.t2 {
    width: 40%;
}
.t3 {
    width: 10%;
}
.t4 {
    width: 10%;

}
.t5 {
    width: 10%;

}
td p {
    margin-top: 5px;
}
.td-textarea {
    text-align: center;
}
textarea {
    width: 600px;
    height: 500px;
    padding: 2px 6px;
    resize: none;
    margin-bottom: 20px;
}
.expert-select-one, .expert-select-two {
    width: 100px;
    margin: 0 20px;
}
.nav > li > a:hover, .nav > li > a:focus{
    background: #282828 !important;
    color: #fff;
}
.J-tab .tab-child{display: none;}

.page {
    margin-top: 10px;
    clear: both;
    padding: 10px 5px 0 118px;;
    font-size: 12px;
    word-break: keep-all;
    font-family: "verdana";
    text-align: center;
    list-style: none;
}

.page li.p_total {
    border:#ddd 1px solid;
    padding: 3px 5px;
    font-weight: bold;
    background: #fff;
    color: #3F6EAF;
}

.page li.p_current {
    border:#5D94E0 1px solid;
    background: #5D94E0;
    color: #fff;
}

.page li {
    float: left;
    margin: 0px 5px 0px 0px;
    color: #999;
    border:#5D94E0 1px solid;
    line-height: 22px;
    text-align: center;
}
.page li a{
    display: block;
    padding: 2px 5px;
    color: #000;
}
.page li a:hover {
    color: #e66100;
    background-color: rgba(93, 148, 224, 0.17);
}